* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.nav {
    width: 100%;
    height: 75px;
    background-color: rgb(183, 183, 183);
    color: rgb(66, 66, 66);
}

.nav-list {
    display: flex;                    /* FLEX AQUI no UL */
    align-items: center;              /* centraliza verticalmente */
    list-style: none;
    height: 100%;                     /* ocupa toda a altura da nav */
    gap: 30px;                        /* espaço entre os li */
    padding: 0 20px;                  /* margem lateral */
}

.nav-list li {
    list-style: none;
}

.nav .image {
    display: flex;
    align-items: center;
    gap: 10px;                        /* espaço entre img e h1 */
}

.nav .image img {
    width: 75px;
    height: 75px;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.nav .image h1 {
    font-size: 1.5rem;
    margin: 0;
}

footer {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(66, 66, 66);
    bottom: 0;
    text-align: center;
    color: white;
    padding-top: 15px;
}